@charset "UTF-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
}

/* For modern browsers */
.cf:before,
.cf:after {
	content:"";
	display:table;
}
 
.cf:after {
	clear:both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.cf {
	zoom:1;
}

a img {
	border:none;
	vertical-align: bottom;
}

img {
	vertical-align: bottom;
}

body{
	margin: 0px;
	padding: 0px;
	font-family:"ＭＳ Ｐゴシック","MS PGothic","Osaka",Arial,sans-serif;
	-webkit-text-size-adjust: 100%;
}

* html body {
	font-family:"ＭＳ Ｐゴシック","MS PGothic","Osaka",Arial,sans-serif;
}

*:first-child+html body {
	font-family:"ＭＳ Ｐゴシック","MS PGothic","Osaka",Arial,sans-serif;
}

h1,h2,h3,h4,h5,h6{
	margin: 0px;
	padding: 0px;
	color: #222;
}

p{
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	line-height: 140%;
	color: #222;
}

ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	font-size: 13px;
	line-height: 140%;
	color: #222;
}

il{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

table{
	border-collapse: collapse;
	border-spacing: 0px;
	font-size: 13px;
	line-height: 140%;
	color: #222;
}

th,td{
	vertical-align: top;
}

.clear{
	clear: both;
}

.clearfix:after{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

.clearfix{
	min-height:1px;
}

* html .clearfix{
	height:1px;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}

a:hover img{

background:#fff;

filter: alpha(opacity=80);

opacity:0.6;}



a:link{

color:#000;

text-decoration:none;}



a:visited{

color:#000;

text-decoration:none;}



a:hover{

color:#000;

text-decoration:underline;}



a:active{

color:#000;

text-decoration:none;}

.mb20 {
	margin-bottom:20px;
	}

.mb50 {
	margin-bottom:50px;
	}

.orange{
	font-weight: bold;
	color: #FF6600;
}

.red{
	font-weight: bold;
	color: #CC0033;
}

.blue{
	font-weight: bold;
	color: #2d4fcb;
}

.green{
	font-weight: bold;
	font-size: 150%;
	color: #39c8c8;
}

.emegre {
	color:#39c8c8;
	}

a{
	color: #444;
}

a:hover{
	text-decoration: none;
	color: #39c8c8;
}

.center{
	text-align: center;
}

.right{
	text-align: right;
}

.errmsg{
	color: #CC0033;
}

.btn{
	cursor: pointer;
}

.fL {
	float:left;
	}

.fR {
	float:right;
	} 

.textA_l {
	text-align:left;
	}

/*
---------------------------------------
margin_top
---------------------------------------
*/

.mt0{margin-top:0 !important; }
.mt5{margin-top:5px !important; }
.mt10{margin-top:10px !important; }
.mt15{margin-top:15px !important; }
.mt18{margin-top:18px !important; }
.mt20{margin-top:20px !important; }
.mt25{margin-top:25px !important; }
.mt30{margin-top:30px !important; }
.mt35{margin-top:35px !important; }
.mt40{margin-top:40px !important; }
.mt45{margin-top:45px !important; }
.mt50{margin-top:50px !important; }
.mt55{margin-top:55px !important; }
.mt60{margin-top:60px !important; }
.mt65{margin-top:65px !important; }
.mt70{margin-top:70px !important; }
.mt75{margin-top:75px !important; }
.mt80{margin-top:80px !important; }
.mt85{margin-top:85px !important; }
.mt90{margin-top:90px !important; }
.mt95{margin-top:95px !important; }
.mt100{margin-top:100px !important; }


/*
---------------------------------------
margin_bottom
---------------------------------------
*/

.mb0{margin-bottom:0 !important; }
.mb5{margin-bottom:5px !important; }
.mb10{margin-bottom:10px !important; }
.mb15{margin-bottom:15px !important; }
.mb20{margin-bottom:20px !important; }
.mb25{margin-bottom:25px !important; }
.mb30{margin-bottom:30px !important; }
.mb35{margin-bottom:35px !important; }
.mb40{margin-bottom:40px !important; }
.mb45{margin-bottom:45px !important; }
.mb50{margin-bottom:50px !important; }
.mb55{margin-bottom:55px !important; }
.mb60{margin-bottom:60px !important; }
.mb65{margin-bottom:65px !important; }
.mb70{margin-bottom:70px !important; }
.mb75{margin-bottom:75px !important; }
.mb80{margin-bottom:80px !important; }
.mb85{margin-bottom:85px !important; }
.mb90{margin-bottom:90px !important; }
.mb95{margin-bottom:95px !important; }
.mb100{margin-bottom:100px !important; }


/*
---------------------------------------
margin_left
---------------------------------------
*/

.ml0{margin-left:0 !important; }
.ml5{margin-left:5px !important; }
.ml10{margin-left:10px !important; }
.ml15{margin-left:15px !important; }
.ml20{margin-left:20px !important; }
.ml25{margin-left:25px !important; }
.ml30{margin-left:30px !important; }
.ml35{margin-left:35px !important; }
.ml40{margin-left:40px !important; }
.ml45{margin-left:45px !important; }
.ml50{margin-left:50px !important; }


/*
---------------------------------------
margin_right
---------------------------------------
*/

.mr0{margin-right:0 !important; }
.mr5{margin-right:5px !important; }
.mr10{margin-right:10px !important; }
.mr15{margin-right:15px !important; }
.mr20{margin-right:20px !important; }
.mr25{margin-right:25px !important; }
.mr30{margin-right:30px !important; }
.mr35{margin-right:35px !important; }
.mr40{margin-right:40px !important; }
.mr45{margin-right:45px !important; }
.mr50{margin-right:50px !important; }


/*
---------------------------------------
padding_top
---------------------------------------
*/

.pt0{padding-top:0 !important; }
.pt5{padding-top:5px !important; }
.pt10{padding-top:10px !important; }
.pt15{padding-top:15px !important; }
.pt20{padding-top:20px !important; }
.pt25{padding-top:25px !important; }
.pt30{padding-top:30px !important; }
.pt35{padding-top:35px !important; }
.pt40{padding-top:40px !important; }
.pt45{padding-top:45px !important; }
.pt50{padding-top:50px !important; }


/*
---------------------------------------
padding_bottom
---------------------------------------
*/

.pb0{padding-bottom:0 !important; }
.pb5{padding-bottom:5px !important; }
.pb10{padding-bottom:10px !important; }
.pb15{padding-bottom:15px !important; }
.pb20{padding-bottom:20px !important; }
.pb25{padding-bottom:25px !important; }
.pb30{padding-bottom:30px !important; }
.pb35{padding-bottom:35px !important; }
.pb40{padding-bottom:40px !important; }
.pb45{padding-bottom:45px !important; }
.pb50{padding-bottom:50px !important; }


/*
---------------------------------------
padding_left
---------------------------------------
*/

.pl0{padding-left:0 !important; }
.pl5{padding-left:5px !important; }
.pl10{padding-left:10px !important; }
.pl15{padding-left:15px !important; }
.pl20{padding-left:20px !important; }
.pl25{padding-left:25px !important; }
.pl30{padding-left:30px !important; }
.pl35{padding-left:35px !important; }
.pl40{padding-left:40px !important; }
.pl45{padding-left:45px !important; }
.pl50{padding-left:50px !important; }


/*
---------------------------------------
padding_right
---------------------------------------
*/

.pr0{padding-right:0 !important; }
.pr5{padding-right:5px !important; }
.pr10{padding-right:10px !important; }
.pr15{padding-right:15px !important; }
.pr20{padding-right:20px !important; }
.pr25{padding-right:25px !important; }
.pr30{padding-right:30px !important; }
.pr35{padding-right:35px !important; }
.pr40{padding-right:40px !important; }
.pr45{padding-right:45px !important; }
.pr50{padding-right:50px !important; }


/******************** common ********************/
#header{
	margin: 0px auto;
	width: 920px;
	height: 80px;
	position: relative;
}
#header h1{
	font-weight: normal;
	font-size: 11px;
	line-height: 200%;
	position: absolute;
	top: 0px;
	left: 0px;
}
#headlogo{
	position: absolute;
	top: 20px;
	left: 10px;
}
#headtel{
	position: absolute;
	top: 20px;
	left: 315px;
}
#headcontact{
	position: absolute;
	top: 20px;
	right: 10px;
}
#bg_glovalnav{
	background: url("../img_cmn/gn/bg_back.jpg") repeat-x;
	height: 45px;
}
#glovalnav{
	margin: 0px auto;
	width: 920px;
	height: 45px;
	background: url("../img_cmn/gn/bg.jpg") no-repeat;
}
#glovalnav ul li{
	margin: 5px 1px 0px 0px;
	float: left;
}
#main_img{
	margin: 0px auto;
	padding: 320px 0px 0px 0px;
	width: 920px;
	background: url("../img_cmn/img_main.jpg") no-repeat;
}

#main_img_sp_blog {
	margin: 0px auto;
	padding: 20px 0px 0px 0px;
	width: 920px;
}

#contents{
	margin: 0px auto;
	padding: 15px 0px 0px 10px;
	width: 920px;
	background: url("../img_cmn/bg.jpg") no-repeat 10px 0px ;
}
#side{
	margin: 0px 0px 0px 15px;
	float: left;
	width: 240px;
}
#sidenav ul{
	margin: 0px 0px 10px 0px;
	padding: 8px 0px 0px 0px;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	width: 238px;
	font-size: 13px;
	line-height: 140%;
	color: #222;
	background: #f5f5f5;
}
#sidenav li{
	margin: 0px 0px 8px 3px;
	padding: 0px 0px 0px 16px;
	background:url("../img_cmn/side/icon_li_a.jpg") no-repeat 0px 2px;
}
#sidenav li.end{
	background:url("../img_cmn/side/icon_li_b.jpg") no-repeat 0px 3px;
}
.sidebnr li{
	margin: 0px 0px 10px 0px;
}
#sidecontact{
	margin: 0px 0px 10px 0px;
	width: 240px;
	height: 130px;
	background: url("../img_cmn/side/bg_mailmaga.jpg") no-repeat;
	position: relative;
}
#sidecontact ul{
	position: absolute;
	left: 10px;
	bottom: 5px;
}
#sidecontact ul li{
	padding: 0px 0px 0px 8px;
	background:url("../img_cmn/side/bg_li_a.jpg") no-repeat 0px 6px;
}
#sidecontact ul li:hover{
	background:url("../img_cmn/side/bg_li_a_on.jpg") no-repeat 0px 6px;
}
#side_bottom ul li{
	padding: 0px 0px 0px 8px;
	background:url("../img_cmn/side/bg_li_b.jpg") no-repeat 0px 6px;
}
#side_bottom ul li:hover{
	background:url("../img_cmn/side/bg_li_b_on.jpg") no-repeat 0px 6px;
}
#main{
	margin: 0px 35px 0px 0px;
	width: 615px;
	float: right;
}
#main .qa-box dl {
	color: #444;
	padding: 15px;
	border-top: solid 3px #008070;
	box-shadow: 0 0 10px rgba( 0,0,0,.2 );
	line-height: 1.6;
	padding: 15px;
	margin-bottom: 20px;
	max-height: 500px;
	overflow: auto;
}
#main .qa-box dl dt {
	font-size: 16px;
	padding: 10px 10px 10px 50px;
	margin-bottom: 10px;
	background:  #faf7ed url("../img/top/enQ.png") 10px center no-repeat;
}
#main .qa-box dl dd,
#main .qa-box dl dd * {
	font-size: 14px;
	margin-bottom: 15px;
}
#main .seminar-box dl {
	color: #444;
	font-size: 14px;
	line-height: 1.6;
	margin-bottom: 10px;
	max-height: 220px;
	overflow: auto;
}
#main .seminar-box dl dt {
	width: 99px;
	float: left;
	border-top: dotted 1px #333;
	padding: 10px 0;
}
#main .seminar-box dl dd {
	margin-left: 100px;
	border-top: dotted 1px #333;
	padding: 10px 0;
}
#main .seminar-box dl dt:first-of-type,
#main .seminar-box dl dd:first-of-type {
	border: none;
}
#main .seminar-box .bnr a {
	display: block;
	width: 100%;
	height: 260px;
	background: url("../img/top/top_consul6.jpg") left top no-repeat;
	margin-bottom: 25px;
	position: relative;
}
#main .seminar-box .bnr a img {
	position: absolute;
	right: 10px;
	top: 22px;
}
#main .cat-box ul {
	border: solid 1px #ddd;
	border-top: none;
	padding: 10px;
}
#main .cat-box ul li {
	width: 25%;
	float: left;
	text-align: center;
}
#main .cat-box ul li img {
	margin: 5px;
}
h2{
	margin:0 0 15px;
	padding: 0px 0px 0px 25px;
	font-size: 18px;
	line-height: 55px;
	color: #444;
	background: url("../img_cmn/bg_h2.jpg") no-repeat;
}
#pankuz{
	margin: 10px 0px 0px 0px;
	padding: 6px 0px 3px 0px;
	background: #DDD;
}
#pankuz ul{
	margin: 0px;
	font-size: 12px;
	line-height: 160%;
	color: #222;
}
#pankuz li{
	margin: 0px 0px 0px 10px;
	float: left;
}
.contentsbox{
	margin: 20px 0px 0px 0px;
}
.contentsbox p{
	margin: 10px 0px 0px 0px;
}
.navbox{
	margin: 0px 3px 6px 3px;
	width: 300px;
	height: 175px;
	background: url("../img_cmn/bg_navbox.jpg") no-repeat;
	float: left;
	position: relative;
}
div.navbox h3{
	margin: 14px 10px 0px 10px;
	padding: 0px 0px 5px 22px;
	border-bottom: solid 1px #3bc9cb;
	font-size: 18px;
	line-height: 120%;
	color: #555;
	background: none;
}
.navbox h3 a{
	text-decoration: none;
	color: #555;
}
.navbox h3 a:hover{
	color: #3bc9cb;
}
.navbox p{
	margin: 10px 20px 0px 10px;
}
.navbox p a{
	color: #0033cc;
	position: absolute;
	right: 20px;
	bottom: 15px;
}
.navbox p a:hover{
	color: #3bc9cb;
}
#consulnav{
	margin: 30px 0px 0px 0px;
	padding: 10px;
	background: #f5f5f5;
}
#consulnav h3{
	margin: 0px;
	padding: 0px;
	background: none;
}
#consulnav ul{
	margin: 10px 0px 0px 0px;
}
#consulnav li{
	margin: 3px 0px 0px 0px;
	padding: 0px 0px 0px 12px;
	background: url("../img_cmn/bg_li_consul.jpg") no-repeat 0px 5px;
}
.img_left{
	margin: 10px 20px 10px 0px;
	float: left;
}
.img_right{
	margin: 10px 0px 10px 20px;
	float: right;
}
#btnlist{
	margin: 30px 0px 0px 0px;
}
#btnlist ul li{
	margin: 0px 3px 6px 3px;
	float: left;
}
#btnlist img:hover{
	opacity:0.7;
	filter: alpha(opacity=70);        /* ie lt 8 */
	-ms-filter: "alpha(opacity=70)";  /* ie 8 */
	-moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
	-khtml-opacity: 0.7;              /* Safari 1.x */
	zoom:1;
}
.contentsmsg{
	margin: 20px 0px 0px 0px;
}
.contentsmsg h3{
	font-size: 22px;
	line-height: 140%;
	color: #333;
}
.contentsbox h3{
	padding: 0px 0px 0px 15px;
	font-size: 16px;
	line-height: 34px;
	color: #333;
	background: url("../img_cmn/bg_h3.jpg") no-repeat;
}
#osusumelist{
	margin: 10px 0px 0px 0px;
}
#osusumelist li{
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 15px;
	background: url("../img_cmn/bg_li_osusume.jpg") no-repeat 0px 2px;
}
#onayamilist{
	margin: 10px 0px 0px 0px;
}
#onayamilist li{
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 20px;
	background: url("../img_cmn/bg_onayami_li.jpg") no-repeat 0px 0px;
}
#omakasebox{
	background: url("../img_cmn/bg_omakase.jpg") no-repeat 100% 100%;
}
#bg_footer{
	height: 85px;
	background: url("../img_cmn/footer/bg.jpg") repeat-x;
}
#footer{
	margin: 20px auto 0px auto;
	width: 920px;
}
address{
	padding: 10px 0px 0px 0px;
	font-style: normal;
	text-align: center;
	font-size: 11px;
	line-height: 140%;
	color: #FFF;
}

/******************** top ********************/
#topseminar{
	margin: 10px 0 0;
	position: relative;
}
#topseminar #textA{
	position: absolute;
	top: 68px;
	left: 15px;
}
#topseminar #btn_entry{
	position: absolute;
	top: 90px;
	left: 15px;
}
#topseminar #lastseminar{
	font-size: 10px;
	line-height: 140%;
	position: absolute;
	top: 100px;
	left: 230px;
}
#topseminar #textB{
	margin: 5px 0px 0px 5px;
	color: #ca623e;
}
#okomarimsg{
	margin: 10px 0px 0px 0px;
}
#okomarimsg #left{
	float: left;
}
#okomarimsg #left li{
	margin: 0px 0px 10px 0px;
}
#okomarimsg #right{
	float: right;
}
#okomarimsg #right li{
	margin: 0px 0px 10px 0px;
}
#topnews{
	margin: 0px;
}
#topnews dl{
	margin: 10px 0px 0px 0px;
	border-bottom: dashed 1px #999;
	font-size: 13px;
	line-height: 140%;
	color: #222;
}
#topnews dt{
	margin: 0px;
	font-weight: bold;
	float: left;
	width: 15%;
}
#topnews dd{
	margin: 0px;
	float: left;
	width: 85%;
}
#specialist{
	margin: 10px 0px 0px 0px;
	position: relative;
}
#specialist table{
	margin: 10px 0px 0px 0px;
	font-size: 10px;
	line-height: 120%;
	color: #222;
	position: absolute;
	top: 60px;
	left: 4px;
}
#specialist th{
	border: 2px solid #CCC;
}
#specialist td{
	padding: 3px 0px 0px 8px;
}
.specialname{
	color: #c9613d;
}
.top{
	margin: 10px 0px 0px 0px;
}
.top p{
	margin: 10px 0px 0px 0px;
}
.top li{
	margin: 0px 5px 0px 0px;
	float: left;
}
#top_left{
	padding: 20px 0px 0px 0px;
	width: 300px;
	height: 115px;
	background: url("../img/top/bg_aboutseminar.jpg") no-repeat;
	float: left;
}
#top_left p{
	margin: 10px 5px 0px 5px;
	font-size: 12px;
	line-height: 120%;
	color: #222;
}
#top_right{
	padding: 20px 0px 0px 0px;
	width: 300px;
	height: 115px;
	background: url("../img/top/bg_aboutsodankai.jpg") no-repeat;
	float: right;
}
#top_right p{
	margin: 10px 5px 0px 5px;
	font-size: 12px;
	line-height: 120%;
	color: #222;
}
#area{
	margin: 20px auto 0px auto;
	width: 920px;
}
#bg_area{
	margin: 0px 25px;
	border: 1px solid #999;
	background: #f4f3e8;
}
#area p{
	margin: 10px;
	font-size: 12px;
	line-height: 140%;
	color: #222;
}

/******************** sozoku_sozoku_yuigon ********************/
#knowbox{
	padding: 10px;
	background: #f5f5f5;
}
#knowbox h4{
	padding: 0px 0px 0px 25px;
	font-size: 16px;
	line-height: 24px;
	color: #3bc9cb;
	background: url("../img/sozoku/sozoku/yuigon/icon_check.jpg") no-repeat;
}
#knowbox table{
	margin: 10px 0px 0px 0px;
}
#knowbox th{
	padding: 2px 0px 5px 0px;
	width: 20%;
	text-align: left;
	color: #333;
}
#knowbox td{
	padding: 2px 0px 5px 0px;
	width: 70%;
}

/******************** tochi_decision_mokuteki ********************/
#hikaku_a table{
	margin: 10px 0px 0px 0px;
	border: 1px solid #FFF;
	width: 100%;
}
#hikaku_a th{
	padding: 3px 0px;
	border: 1px solid #FFF;
	width: 10%;
	height: 45px;
	line-height: 140%;
}
#hikaku_a td{
	padding: 3px 0px;
	border: 1px solid #FFF;
	width: 10%;
	height: 45px;
	text-align: center;
	line-height: 140%;
}
.firstperiod{
	font-weight: bold;
	text-align: center;
	font-size: 13px;
	color: #FFF;
	background: #FF9900;
}
.secondperiod{
	font-size: 13px;
	color: #333;
	background: #FFCC66;
}
.thirdperiod{
	font-size: 13px;
	color: #333;
	background: #FFCC99;
}
.comparison_a{
	font-size: 13px;
	color: #333;
}
.comparison_b{
	font-size: 13px;
	color: #333;
}
.comparison_c{
	font-size: 13px;
	background: #EEE;
}
.comparison_d{
	font-size: 13px;
	background: #DDD;
}
#hikaku_b table{
	margin: 20px 0px 0px 0px;
	border: 1px solid #FFF;
	width: 100%;
}
#hikaku_b th{
	padding: 5px 0px;
	border: 1px solid #FFF;
	width: 11%;
	vertical-align: top;
}
#hikaku_b td{
	padding: 5px 10px;
	border: 1px solid #FFF;
	width: 29%;
	font-size: 13px;
	line-height: 140%;
	vertical-align: top;
}
#hikaku_c table{
	margin: 10px 0px 0px 0px;
	border: 1px solid #FFF;
	width: 100%;
}
#hikaku_c th{
	padding: 5px 0px;
	border: 1px solid #FFF;
}
#hikaku_c td{
	padding: 5px 10px;
	border: 1px solid #FFF;
	width: 14%;
	height: 45px;
	text-align: center;
	font-size: 13px;
	line-height: 140%;
}

/******************** shisan_specialist ********************/
.speleft{
	margin: 10px 0px 0px 10px;
	float: left;
	width: 120px;
}
.speright{
	margin: 10px 0px 0px;
	width: 440px;
}
.speright h4{
	font-size: 16px;
	line-height: 140%;
	color: #c9613d;
}
.speright h5{
	margin: 10px 0px 0px 0px;
	border-bottom: dotted 2px #39c8c8;
	font-size: 20px;
	line-height: 140%;
	color: #333;
}

/******************** madia ********************/
.media{
	padding: 0px;
	border-bottom: dotted 2px #CCC;
}
.media h3{
	padding: 0px;
	background: none;
}

/******************** faq ********************/
.faq{
	padding: 0px;
	border-bottom: dotted 2px #CCC;
}
.faq table{
	border-collapse: separate;
	border-spacing: 0px 5px;
}
.qt{
	padding: 0px 0px 0px 10px;
	width: 8%;
	text-align: left;
	background: url("../img/faq/bg_q.jpg") no-repeat;
	color: #FFF;
	vertical-align: middle;
}
.at{
	padding: 0px 0px 0px 10px;
	text-align: left;
	background: url("../img/faq/bg_a.jpg") repeat-y;
	vertical-align: middle;
}
.qd{
	width: 92%;
	font-size: 16px;
	line-height: 30px;
}
.ad{
	font-size: 13px;
	line-height: 140%;
}

/******************** company ********************/
#company{
	position: relative;
}
#company1{
	position: absolute;
	top: 0px;
	right: 0px;
}
#company2{
	position: absolute;
	top: 180px;
	right: 0px;
}
#company table{
	border-collapse: separate;
	border-spacing: 0px 8px;
}
#company th{
	padding: 5px 0px 5px 10px;
	border-left: 4px solid #CCC;
	width: 20%;
	text-align: left;
	background: #EEE;
}
#company td{
	padding: 5px 0px 5px 10px;
	width: 80%;
}

/******************** seminar ********************/
#seminarinfo{
	border: solid 1px #999;
	width: 100%;
	height: 150px;
	overflow: auto;
}
#seminarinfo dl{
	margin: 10px 0px 0px 10px;
	font-size: 13px;
	line-height: 140%;
}
#seminarinfo dt{
	padding: 0px 0px 0px 40px;
	width: 20%;
	font-weight: bold;
	float:left;
	background: url("../img/seminar/icon_yokoku.jpg") no-repeat;
}
#seminarinfo dd{
	float: left;
}
#seminarjisseki{
	border: solid 1px #999;
	width: 100%;
	height: 300px;
	overflow: auto;
}
#seminarjisseki dl{
	margin: 10px 0px 0px 10px;
	font-size: 13px;
	line-height: 140%;
}
#seminarjisseki dt{
	padding: 0px 0px 0px 0px;
	width: 20%;
	font-weight: bold;
	float:left;
}
#seminarjisseki dd{
	width: 80%;
	float: left;
}
.seminarbox{
	margin: 20px 0px 0px 0px;
}
.seminarbox h3{
	padding: 0px 0px 0px 80px;
	font-size: 18px;
	line-height: 55px;
	color: #444;
	background: url("../img/seminar/bg_h3.jpg") no-repeat;
}
.seminarbox p{
	margin: 10px 0px 0px 0px;
}
.seminarbox table{
	width: 100%;
}
.seminarbox th{
	padding: 5px 0px 5px 10px;
	border: 1px solid #CCC;
	text-align: left;
	width: 20%;
	background: #DDD;
}
.seminarbox td{
	padding: 5px 0px 5px 10px;
	border: 1px solid #CCC;
	width: 80%;
}



.seminarbox h4{
	padding: 0px 0px 0px 80px;
	font-size: 18px;
	line-height: 55px;
	color: #444;
	background: url("../img/seminar/bg_h4.jpg") no-repeat;
}






/******************** seminar_dvd ********************/
#dvd h4{
	margin: 20px 0px 0px 0px;
	font-size: 18px;
	line-height: 140%;
	color: #444;
}

/******************** mail ********************/
#mailmaga table{
	width: 100%;
}
#mailmaga th{
	text-align: left;
	width: 40%;
	vertical-align: middle;
}
#mailmaga td{
	padding: 5px 0px;
	width: 60%;
}
#backnum{
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 10px 15px;
	background: #DDD;
}
#backnum img.btn{
	margin: 30px 40px 0px 0px;
	float: right;
}
/******************** contact ********************/
.mailform{
	margin: 0px;
	padding: 0px;
}
.mailform table{
	margin: 0px;
	padding: 0px;
	border-collapse: separate;
	border-spacing: 0px 1px;
	width: 100%;
	font-size: 13px;
	line-height: 150%;
}
.mailform th{
	margin: 0px;
	padding: 5px 0px 5px 5px;
	border: 1px solid #999;
	color: #444;
	vertical-align: middle;
	width: 25%;
}
#mail_a th{
	background: #EEE;
}
#mail_b th{
	background: #dbe5f1;
}
.mailform td{
	margin: 0px;
	padding: 5px 0px 5px 20px;
	border: 1px solid #999;
	color: #222;
	vertical-align: top;
	width: 75%;
}
#mailprivacy{
	border: solid 1px #999;
	width: 100%;
	height: 100px;
	overflow: auto;
}
#mailprivacy h4{
	font-size: 15px;
	color: #333;
}
input[type="text"] {
	height: 25px;
	line-height: 160%;
	font-size: 14px;
}
input[type="submit"] {
	height: 25px;
	line-height: 160%;
	font-size: 14px;
}
input[type="reset"] {
	height: 25px;
	line-height: 160%;
	font-size: 14px;
}
input[type="button"] {
	height: 25px;
	line-height: 160%;
	font-size: 14px;
}
textarea{
	font-size: 14px;
	line-height: 160%;
}
#imgback{
	margin: 0px 0px 0px 20px;
}

/*--サイトマップ--*/

#main .contentsbox.sitemap {
	margin:10px 0 50px;
	font-size:12px;
	}

#main .contentsbox.sitemap div {
	width:285px;
	padding:0 0 0 15px;
	}

#main .contentsbox.sitemap div dl dt {
	margin:20px 0 0;
	font-weight:bold;
	}

#main .contentsbox.sitemap div dl dd {
	margin:10px 0;
	padding:0 0 0 15px;
	background:url(../img_cmn/ico_arr1.gif) no-repeat left center;
	}

/*
----------------------------------
専門家ブログ
----------------------------------
*/

h3.specialist_ttl {
	clear:both;}

#specialist_list {
	clear:both;
	width:614px;
	margin:0 0 50px 0;
	border-left:solid 1px #ccc;}

#specialist_list .sp_men {
	float:left;
	overflow:hidden;
	width:296px;
	height:160px;
	padding:5px;
	border-right:solid 1px #ccc;
	border-bottom:solid 1px #ccc;}

#specialist_list .sp_men h4 {
	font-size: 12px;
	line-height: 140%;
	color: #c9613d;}

#specialist_list .sp_men h5 {
	margin:0 0 5px;
	border-bottom: dotted 2px #39c8c8;
	font-size: 20px;
	line-height: 140%;
	color: #333;}

#specialist_list .sp_men .image {
	float:left;
	width:125px;}

#specialist_list .sp_men .text {
	float:right;
	width:165px;}

#specialist_list .sp_men ul li a {
	color:#3366CC;
	text-decoration:underline;}

#specialist_list p.font10 {
	font-size:10px;}

/*
----------------------------------
専門家プロフィール
----------------------------------
*/

.profile_page {
	font-size:13px;}

.profile_page h3 {
	margin:0 0 20px;
	font-size: 139%;}

.profile_page h3 span {
	padding:0 15px 0 0;
	color:#993300;}

.profile_page h4.ttl {
	clear:both;
	margin:0 0 10px;
	font-size:114%;
	font-weight:bold !important;}

.profile_page .image_r {
	margin:0 0 20px;}

.profile_page .image_r .text {
	float:left;
	width:300px;}

.profile_page .image_r .image {
	float:right;}

.profile_page .box {
	margin:0 0 20px;}

.profile_page dt {
	clear:both;
	float:left;
	margin:0 0 5px;}

.profile_page dd {
	margin:0 0 5px;
	padding:0 0 0 100px;}