@charset "UTF-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
}

/* For modern browsers */
.cf:before,
.cf:after {
	content:"";
	display:table;
}
 
.cf:after {
	clear:both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.cf {
	zoom:1;
}

a img {
	border:none;
	vertical-align: bottom;
}

img {
	vertical-align: bottom;
}

body{
	margin: 0px;
	padding: 0px;
	font-family:"ＭＳ Ｐゴシック","MS PGothic","Osaka",Arial,sans-serif;
	-webkit-text-size-adjust: 100%;
}

* html body {
	font-family:"ＭＳ Ｐゴシック","MS PGothic","Osaka",Arial,sans-serif;
}

*:first-child+html body {
	font-family:"ＭＳ Ｐゴシック","MS PGothic","Osaka",Arial,sans-serif;
}

h1,h2,h3,h4,h5,h6{
	margin: 0px;
	padding: 0px;
	color: #222;
}

p{
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	line-height: 140%;
	color: #222;
}

ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	font-size: 13px;
	line-height: 140%;
	color: #222;
}

il{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

table{
	border-collapse: collapse;
	border-spacing: 0px;
	font-size: 13px;
	line-height: 140%;
	color: #222;
}

th,td{
	vertical-align: top;
}

.clear{
	clear: both;
}

.clearfix:after{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

.clearfix{
	min-height:1px;
}

* html .clearfix{
	height:1px;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}

a:hover img{

background:#fff;

filter: alpha(opacity=80);

opacity:0.6;}



a:link{

color:#000;

text-decoration:none;}



a:visited{

color:#000;

text-decoration:none;}



a:hover{

color:#000;

text-decoration:underline;}



	
a:active{

color:#000;

text-decoration:none;}

.mb20 {
	margin-bottom:20px;
	}

.mb50 {
	margin-bottom:50px;
	}

.orange{
	font-weight: bold;
	color: #FF6600;
}

.red{
	font-weight: bold;
	color: #CC0033;
}

.blue{
	font-weight: bold;
	color: #2d4fcb;
}

.green{
	font-weight: bold;
	font-size: 150%;
	color: #39c8c8;
}

.emegre {
	color:#39c8c8;
	}

a{
	color: #444;
}

a:hover{
	text-decoration: none;
	color: #39c8c8;
}

.center{
	text-align: center;
}

.right{
	text-align: right;
}

.errmsg{
	color: #CC0033;
}

.btn{
	cursor: pointer;
}

.fL {
	float:left;
	}
	
.fR {
	float:right;
	} 
	
.textA_l {
	text-align:left;
	}
/******************** common ********************/
#header{
	margin: 0px auto;
	width: 920px;
	height: 80px;
	position: relative;
}
#header h1{
	font-weight: normal;
	font-size: 11px;
	line-height: 200%;
	position: absolute;
	top: 0px;
	left: 0px;
}
#headlogo{
	position: absolute;
	top: 20px;
	left: 10px;
}
#headtel{
	position: absolute;
	top: 20px;
	left: 315px;
}
#headcontact{
	position: absolute;
	top: 20px;
	right: 10px;
}
#bg_glovalnav{
	background: url("../img_cmn/gn/bg_back.jpg") repeat-x;
	height: 45px;
}
#glovalnav{
	margin: 0px auto;
	width: 920px;
	height: 45px;
	background: url("../img_cmn/gn/bg.jpg") no-repeat;
}
#glovalnav ul li{
	margin: 5px 1px 0px 0px;
	float: left;
}
#main_img{
	margin: 0px auto;
	padding: 320px 0px 0px 0px;
	width: 920px;
	background: url("../img_cmn/img_main.jpg") no-repeat;
}

#main_img_sp_blog {
	margin: 0px auto;
	padding: 20px 0px 0px 0px;
	width: 920px;
}

#contents{
	margin: 0px auto;
	padding: 15px 0px 0px 10px;
	width: 920px;
	background: url("../img_cmn/bg.jpg") no-repeat 10px 0px ;
}
#side{
	margin: 0px 0px 0px 15px;
	float: left;
	width: 240px;
}
#sidenav ul{
	margin: 0px 0px 10px 0px;
	padding: 8px 0px 0px 0px;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	width: 238px;
	font-size: 13px;
	line-height: 140%;
	color: #222;
	background: #f5f5f5;
}
#sidenav li{
	margin: 0px 0px 8px 3px;
	padding: 0px 0px 0px 16px;
	background:url("../img_cmn/side/icon_li_a.jpg") no-repeat 0px 2px;
}
#sidenav li.end{
	background:url("../img_cmn/side/icon_li_b.jpg") no-repeat 0px 3px;
}
.sidebnr li{
	margin: 0px 0px 10px 0px;
}
#sidecontact{
	margin: 0px 0px 10px 0px;
	width: 240px;
	height: 130px;
	background: url("../img_cmn/side/bg_mailmaga.jpg") no-repeat;
	position: relative;
}
#sidecontact ul{
	position: absolute;
	left: 10px;
	bottom: 5px;
}
#sidecontact ul li{
	padding: 0px 0px 0px 8px;
	background:url("../img_cmn/side/bg_li_a.jpg") no-repeat 0px 6px;
}
#sidecontact ul li:hover{
	background:url("../img_cmn/side/bg_li_a_on.jpg") no-repeat 0px 6px;
}
#side_bottom ul li{
	padding: 0px 0px 0px 8px;
	background:url("../img_cmn/side/bg_li_b.jpg") no-repeat 0px 6px;
}
#side_bottom ul li:hover{
	background:url("../img_cmn/side/bg_li_b_on.jpg") no-repeat 0px 6px;
}
#main{
	margin: 0px 35px 0px 0px;
	width: 615px;
	float: right;
}
h2{
	margin:0 0 15px;
	padding: 0px 0px 0px 25px;
	font-size: 18px;
	line-height: 55px;
	color: #444;
	background: url("../img_cmn/bg_h2.jpg") no-repeat;
}
#pankuz{
	margin: 10px 0px 0px 0px;
	padding: 6px 0px 3px 0px;
	background: #DDD;
}
#pankuz ul{
	margin: 0px;
	font-size: 12px;
	line-height: 160%;
	color: #222;
}
#pankuz li{
	margin: 0px 0px 0px 10px;
	float: left;
}
.contentsbox{
	margin: 20px 0px 0px 0px;
}
.contentsbox p{
	margin: 10px 0px 0px 0px;
}
.navbox{
	margin: 0px 3px 6px 3px;
	width: 300px;
	height: 175px;
	background: url("../img_cmn/bg_navbox.jpg") no-repeat;
	float: left;
	position: relative;
}
div.navbox h3{
	margin: 14px 10px 0px 10px;
	padding: 0px 0px 5px 22px;
	border-bottom: solid 1px #3bc9cb;
	font-size: 18px;
	line-height: 120%;
	color: #555;
	background: none;
}
.navbox h3 a{
	text-decoration: none;
	color: #555;
}
.navbox h3 a:hover{
	color: #3bc9cb;
}
.navbox p{
	margin: 10px 20px 0px 10px;
}
.navbox p a{
	color: #0033cc;
	position: absolute;
	right: 20px;
	bottom: 15px;
}
.navbox p a:hover{
	color: #3bc9cb;
}
#consulnav{
	margin: 30px 0px 0px 0px;
	padding: 10px;
	background: #f5f5f5;
}
#consulnav h3{
	margin: 0px;
	padding: 0px;
	background: none;
}
#consulnav ul{
	margin: 10px 0px 0px 0px;
}
#consulnav li{
	margin: 3px 0px 0px 0px;
	padding: 0px 0px 0px 12px;
	background: url("../img_cmn/bg_li_consul.jpg") no-repeat 0px 5px;
}
.img_left{
	margin: 10px 20px 10px 0px;
	float: left;
}
.img_right{
	margin: 10px 0px 10px 20px;
	float: right;
}
#btnlist{
	margin: 30px 0px 0px 0px;
}
#btnlist ul li{
	margin: 0px 3px 6px 3px;
	float: left;
}
#btnlist img:hover{
	opacity:0.7;
	filter: alpha(opacity=70);        /* ie lt 8 */
	-ms-filter: "alpha(opacity=70)";  /* ie 8 */
	-moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
	-khtml-opacity: 0.7;              /* Safari 1.x */
	zoom:1;
}
.contentsmsg{
	margin: 20px 0px 0px 0px;
}
.contentsmsg h3{
	font-size: 22px;
	line-height: 140%;
	color: #333;
}
.contentsbox h3{
	padding: 0px 0px 0px 15px;
	font-size: 16px;
	line-height: 34px;
	color: #333;
	background: url("../img_cmn/bg_h3.jpg") no-repeat;
}
#osusumelist{
	margin: 10px 0px 0px 0px;
}
#osusumelist li{
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 15px;
	background: url("../img_cmn/bg_li_osusume.jpg") no-repeat 0px 2px;
}
#onayamilist{
	margin: 10px 0px 0px 0px;
}
#onayamilist li{
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 20px;
	background: url("../img_cmn/bg_onayami_li.jpg") no-repeat 0px 0px;
}
#omakasebox{
	background: url("../img_cmn/bg_omakase.jpg") no-repeat 100% 100%;
}
#bg_footer{
	height: 85px;
	background: url("../img_cmn/footer/bg.jpg") repeat-x;
}
#footer{
	margin: 20px auto 0px auto;
	width: 920px;
}
address{
	padding: 10px 0px 0px 0px;
	font-style: normal;
	text-align: center;
	font-size: 11px;
	line-height: 140%;
	color: #FFF;
}

/******************** top ********************/
#topseminar{
	margin: 10px 0 0;
	position: relative;
}
#topseminar #textA{
	position: absolute;
	top: 68px;
	left: 15px;
}
#topseminar #btn_entry{
	position: absolute;
	top: 90px;
	left: 15px;
}
#topseminar #lastseminar{
	font-size: 10px;
	line-height: 140%;
	position: absolute;
	top: 100px;
	left: 230px;
}
#topseminar #textB{
	margin: 5px 0px 0px 5px;
	color: #ca623e;
}
#okomarimsg{
	margin: 10px 0px 0px 0px;
}
#okomarimsg #left{
	float: left;
}
#okomarimsg #left li{
	margin: 0px 0px 10px 0px;
}
#okomarimsg #right{
	float: right;
}
#okomarimsg #right li{
	margin: 0px 0px 10px 0px;
}
#topnews{
	margin: 0px;
}
#topnews dl{
	margin: 10px 0px 0px 0px;
	border-bottom: dashed 1px #999;
	font-size: 13px;
	line-height: 140%;
	color: #222;
}
#topnews dt{
	margin: 0px;
	font-weight: bold;
	float: left;
	width: 15%;
}
#topnews dd{
	margin: 0px;
	float: left;
	width: 85%;
}
#specialist{
	margin: 10px 0px 0px 0px;
	position: relative;
}
#specialist table{
	margin: 10px 0px 0px 0px;
	font-size: 10px;
	line-height: 120%;
	color: #222;
	position: absolute;
	top: 60px;
	left: 4px;
}
#specialist th{
	border: 2px solid #CCC;
}
#specialist td{
	padding: 3px 0px 0px 8px;
}
.specialname{
	color: #c9613d;
}
.top{
	margin: 10px 0px 0px 0px;
}
.top p{
	margin: 10px 0px 0px 0px;
}
.top li{
	margin: 0px 5px 0px 0px;
	float: left;
}
#top_left{
	padding: 20px 0px 0px 0px;
	width: 300px;
	height: 115px;
	background: url("../img/top/bg_aboutseminar.jpg") no-repeat;
	float: left;
}
#top_left p{
	margin: 10px 5px 0px 5px;
	font-size: 12px;
	line-height: 120%;
	color: #222;
}
#top_right{
	padding: 20px 0px 0px 0px;
	width: 300px;
	height: 115px;
	background: url("../img/top/bg_aboutsodankai.jpg") no-repeat;
	float: right;
}
#top_right p{
	margin: 10px 5px 0px 5px;
	font-size: 12px;
	line-height: 120%;
	color: #222;
}
#area{
	margin: 20px auto 0px auto;
	width: 920px;
}
#bg_area{
	margin: 0px 25px;
	border: 1px solid #999;
	background: #f4f3e8;
}
#area p{
	margin: 10px;
	font-size: 12px;
	line-height: 140%;
	color: #222;
}

/******************** sozoku_sozoku_yuigon ********************/
#knowbox{
	padding: 10px;
	background: #f5f5f5;
}
#knowbox h4{
	padding: 0px 0px 0px 25px;
	font-size: 16px;
	line-height: 24px;
	color: #3bc9cb;
	background: url("../img/sozoku/sozoku/yuigon/icon_check.jpg") no-repeat;
}
#knowbox table{
	margin: 10px 0px 0px 0px;
}
#knowbox th{
	padding: 2px 0px 5px 0px;
	width: 20%;
	text-align: left;
	color: #333;
}
#knowbox td{
	padding: 2px 0px 5px 0px;
	width: 70%;
}

/******************** tochi_decision_mokuteki ********************/
#hikaku_a table{
	margin: 10px 0px 0px 0px;
	border: 1px solid #FFF;
	width: 100%;
}
#hikaku_a th{
	padding: 3px 0px;
	border: 1px solid #FFF;
	width: 10%;
	height: 45px;
	line-height: 140%;
}
#hikaku_a td{
	padding: 3px 0px;
	border: 1px solid #FFF;
	width: 10%;
	height: 45px;
	text-align: center;
	line-height: 140%;
}
.firstperiod{
	font-weight: bold;
	text-align: center;
	font-size: 13px;
	color: #FFF;
	background: #FF9900;
}
.secondperiod{
	font-size: 13px;
	color: #333;
	background: #FFCC66;
}
.thirdperiod{
	font-size: 13px;
	color: #333;
	background: #FFCC99;
}
.comparison_a{
	font-size: 13px;
	color: #333;
}
.comparison_b{
	font-size: 13px;
	color: #333;
}
.comparison_c{
	font-size: 13px;
	background: #EEE;
}
.comparison_d{
	font-size: 13px;
	background: #DDD;
}
#hikaku_b table{
	margin: 20px 0px 0px 0px;
	border: 1px solid #FFF;
	width: 100%;
}
#hikaku_b th{
	padding: 5px 0px;
	border: 1px solid #FFF;
	width: 11%;
	vertical-align: top;
}
#hikaku_b td{
	padding: 5px 10px;
	border: 1px solid #FFF;
	width: 29%;
	font-size: 13px;
	line-height: 140%;
	vertical-align: top;
}
#hikaku_c table{
	margin: 10px 0px 0px 0px;
	border: 1px solid #FFF;
	width: 100%;
}
#hikaku_c th{
	padding: 5px 0px;
	border: 1px solid #FFF;
}
#hikaku_c td{
	padding: 5px 10px;
	border: 1px solid #FFF;
	width: 14%;
	height: 45px;
	text-align: center;
	font-size: 13px;
	line-height: 140%;
}

/******************** shisan_specialist ********************/
.speleft{
	margin: 10px 0px 0px 10px;
	float: left;
	width: 120px;
}
.speright{
	margin: 10px 0px 0px;
	width: 440px;
}
.speright h4{
	font-size: 16px;
	line-height: 140%;
	color: #c9613d;
}
.speright h5{
	margin: 10px 0px 0px 0px;
	border-bottom: dotted 2px #39c8c8;
	font-size: 20px;
	line-height: 140%;
	color: #333;
}

/******************** madia ********************/
.media{
	padding: 0px;
	border-bottom: dotted 2px #CCC;
}
.media h3{
	padding: 0px;
	background: none;
}

/******************** faq ********************/
.faq{
	padding: 0px;
	border-bottom: dotted 2px #CCC;
}
.faq table{
	border-collapse: separate;
	border-spacing: 0px 5px;
}
.qt{
	padding: 0px 0px 0px 10px;
	width: 8%;
	text-align: left;
	background: url("../img/faq/bg_q.jpg") no-repeat;
	color: #FFF;
	vertical-align: middle;
}
.at{
	padding: 0px 0px 0px 10px;
	text-align: left;
	background: url("../img/faq/bg_a.jpg") repeat-y;
	vertical-align: middle;
}
.qd{
	width: 92%;
	font-size: 16px;
	line-height: 30px;
}
.ad{
	font-size: 13px;
	line-height: 140%;
}

/******************** company ********************/
#company{
	position: relative;
}
#company1{
	position: absolute;
	top: 0px;
	right: 0px;
}
#company2{
	position: absolute;
	top: 180px;
	right: 0px;
}
#company table{
	border-collapse: separate;
	border-spacing: 0px 8px;
}
#company th{
	padding: 5px 0px 5px 10px;
	border-left: 4px solid #CCC;
	width: 20%;
	text-align: left;
	background: #EEE;
}
#company td{
	padding: 5px 0px 5px 10px;
	width: 80%;
}

/******************** seminar ********************/
#seminarinfo{
	border: solid 1px #999;
	width: 100%;
	height: 150px;
	overflow: auto;
}
#seminarinfo dl{
	margin: 10px 0px 0px 10px;
	font-size: 13px;
	line-height: 140%;
}
#seminarinfo dt{
	padding: 0px 0px 0px 40px;
	width: 20%;
	font-weight: bold;
	float:left;
	background: url("../img/seminar/icon_yokoku.jpg") no-repeat;
}
#seminarinfo dd{
	float: left;
}
#seminarjisseki{
	border: solid 1px #999;
	width: 100%;
	height: 300px;
	overflow: auto;
}
#seminarjisseki dl{
	margin: 10px 0px 0px 10px;
	font-size: 13px;
	line-height: 140%;
}
#seminarjisseki dt{
	padding: 0px 0px 0px 0px;
	width: 20%;
	font-weight: bold;
	float:left;
}
#seminarjisseki dd{
	width: 80%;
	float: left;
}
.seminarbox{
	margin: 20px 0px 0px 0px;
}
.seminarbox h3{
	padding: 0px 0px 0px 80px;
	font-size: 18px;
	line-height: 55px;
	color: #444;
	background: url("../img/seminar/bg_h3.jpg") no-repeat;
}
.seminarbox p{
	margin: 10px 0px 0px 0px;
}
.seminarbox table{
	width: 100%;
}
.seminarbox th{
	padding: 5px 0px 5px 10px;
	border: 1px solid #CCC;
	text-align: left;
	width: 20%;
	background: #DDD;
}
.seminarbox td{
	padding: 5px 0px 5px 10px;
	border: 1px solid #CCC;
	width: 80%;
}

/******************** seminar_dvd ********************/
#dvd h4{
	margin: 20px 0px 0px 0px;
	font-size: 18px;
	line-height: 140%;
	color: #444;
}

/******************** mail ********************/
#mailmaga table{
	width: 100%;
}
#mailmaga th{
	text-align: left;
	width: 40%;
	vertical-align: middle;
}
#mailmaga td{
	padding: 5px 0px;
	width: 60%;
}
#backnum{
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 10px 15px;
	background: #DDD;
}
#backnum img.btn{
	margin: 30px 40px 0px 0px;
	float: right;
}
/******************** contact ********************/
.mailform{
	margin: 0px;
	padding: 0px;
}
.mailform table{
	margin: 0px;
	padding: 0px;
	border-collapse: separate;
	border-spacing: 0px 1px;
	width: 100%;
	font-size: 13px;
	line-height: 150%;
}
.mailform th{
	margin: 0px;
	padding: 5px 0px 5px 5px;
	border: 1px solid #999;
	color: #444;
	vertical-align: middle;
	width: 25%;
}
#mail_a th{
	background: #EEE;
}
#mail_b th{
	background: #dbe5f1;
}
.mailform td{
	margin: 0px;
	padding: 5px 0px 5px 20px;
	border: 1px solid #999;
	color: #222;
	vertical-align: top;
	width: 75%;
}
#mailprivacy{
	border: solid 1px #999;
	width: 100%;
	height: 100px;
	overflow: auto;
}
#mailprivacy h4{
	font-size: 15px;
	color: #333;
}
input[type="text"] {
	height: 25px;
	line-height: 160%;
	font-size: 14px;
}
input[type="submit"] {
	height: 25px;
	line-height: 160%;
	font-size: 14px;
}
input[type="reset"] {
	height: 25px;
	line-height: 160%;
	font-size: 14px;
}
input[type="button"] {
	height: 25px;
	line-height: 160%;
	font-size: 14px;
}
textarea{
	font-size: 14px;
	line-height: 160%;
}
#imgback{
	margin: 0px 0px 0px 20px;
}

/*--サイトマップ--*/

#main .contentsbox.sitemap {
	margin:10px 0 50px;
	font-size:12px;
	}

#main .contentsbox.sitemap div {
	width:285px;
	padding:0 0 0 15px;
	}
	
#main .contentsbox.sitemap div dl dt {
	margin:20px 0 0;
	font-weight:bold;
	}
	
#main .contentsbox.sitemap div dl dd {
	margin:10px 0;
	padding:0 0 0 15px;
	background:url(../img_cmn/ico_arr1.gif) no-repeat left center;
	}
	
/*
----------------------------------
専門家ブログ
----------------------------------
*/

h3.specialist_ttl {
	clear:both;
	margin:30px 0 0;}

#specialist_list {
	clear:both;
	width:614px;
	margin:0 0 50px 0;
	border-left:solid 1px #ccc;}

#specialist_list .sp_men {
	float:left;
	overflow:hidden;
	width:296px;
	height:180px;
	padding:5px;
	border-right:solid 1px #ccc;
	border-bottom:solid 1px #ccc;}

#specialist_list .sp_men h4 {
	font-size: 12px;
	line-height: 140%;
	color: #c9613d;}
	
#specialist_list .sp_men h5 {
	margin:0 0 5px;
	border-bottom: dotted 2px #39c8c8;
	font-size: 20px;
	line-height: 140%;
	color: #333;}
	
#specialist_list .sp_men .image {
	float:left;
	width:125px;}
	
#specialist_list .sp_men .text {
	float:right;
	width:165px;}
	
#specialist_list .sp_men a {
	color:#3366CC;
	text-decoration:underline;}
	
#specialist_list p.font10 {
	font-size:10px;}