/*
Theme Name: template
Author: Takuya Kato
*/

/* 
---------------------------------------
reset
---------------------------------------
*/

#blogContents h1,
#blogContents h2,
#blogContents h3,
#blogContents h4,
#blogContents h5,
#blogContents h6,
#blogContents div,
#blogContents p,
#blogContents th,
#blogContents td,
#blogContents table,
#blogContents dl,
#blogContents dt,
#blogContents dd,
#blogContents ul,
#blogContents ol,
#blogContents li{
	font-size:13px;
	font-weight:normal;
}

#blogContents table{
	border-collapse:collapse;
	border-spacing:0;
	vertical-align:top;
}

#blogContents th{
	text-align:left;
}

#blogContents img{
	border:0;
	vertical-align:top;
}

#blogContents li{
	list-style:none;
}

#blogContents a{
	outline:none;
}

#blogContents address{
	font-style:normal;
}

.clearfix:after{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

.clearfix{
	min-height:1px;
}

* html .clearfix{
	height:1px;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}


/*
---------------------------------------
layout
---------------------------------------
*/

h2{
	background:none;
	margin:0 0 50px 0;
	padding:0;	
}

#blogContents{
	float:left;
	width:450px;
}

#blogContents .post{
	margin:0 0 30px 0;
}

#blogContents h3.storytitle{
	border-bottom:solid 2px #39c8c8;	
	font-size:108%;
	font-weight:bold;
	margin:0 0 7px 0;
	padding:0 0 5px 0;
}

#blogContents h3.storytitle a{
	text-decoration:none;
}

#blogContents p.meta{
	margin:0 0 10px 0;
	text-align:right;
}

#blogContents .storycontent{
	margin:0 0 4px 0;
}

#blogContents p.rest a{
	color:#214ed1;		
}

#blogMenu{
	float:right;
	width:150px;
}

#blogMenu ul{
	padding:0 0 0 10px;
	margin:0 0 30px 0;
}

#blogMenu ul li{
	border-bottom:dotted 2px #39c8c8;
	padding:7px 0;
}




/*
---------------------------------------
投稿
---------------------------------------
*/

#contents .storycontent h1,
#contents .storycontent h2,
#contents .storycontent h3,
#contents .storycontent h4,
#contents .storycontent h5,
#contents .storycontent h6{
	background:none;
	color:#333;
	font-weight:bold;
	height:auto;
	letter-spacing:.133em;
	margin:0 3px 5px;
	min-height:1px;
	padding:0px;
	text-shadow:1px 1px 0 #fff;
	vertical-align:top;
}

#contents .storycontent h1{
	font-size:147%;
}

#contents .storycontent h2{
	font-size:139%;
}

#contents .storycontent h3{
	font-size:124%;
}

#contents .storycontent h4{
	font-size:116%;
}

#contents .storycontent h5{
	font-size:108%;
}

#contents .storycontent h6{
	font-size:100%;
}

#contents .storycontent em,
#contents .storycontent i{
	font-style:italic;
}

#contents .storycontent strong,
#contents .storycontent b{
	font-weight:bold;
}

#contents .storycontent ol{
	margin:0 1.5em 1em;
}

#contents .storycontent ul{
	margin:0 1.5em 1em;
}

#contents .storycontent ul li{
	list-style:disc;
	list-style-position:outside;
	margin:0em 0em 0em 1em;
}

#contents .storycontent ol li{
	list-style:decimal;
	list-style-position:outside;
	margin:0em 0em 0em 1em;
}
#contents .storycontent table{
	line-height:1.3;
}

#contents .storycontent table th,
#contents .storycontent table td{
	border:solid 1px #000;
	padding:5px;
}

#contents .storycontent dl{
	margin:1em 0;
}

#contents .storycontent dd{
	margin-left:2em;
}

#contents .storycontent pre{
	background:#3c3c3c;
	font-family:"Bitstream Vera Mono", Monaco, "Lucida Console", monospace;
	line-height:1.2;
	margin:1em 0;
	overflow:auto;
	padding:1em;
	white-space:pre;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
#contents .storycontent code{
	color:white;
}

#contents .storycontent samp{
	color:lime;
}

#contents .storycontent pre kbd{
	background:none;
	border:none;
	color:yellow;
	display:inline;
	margin:0;
	padding:0;
 	text-shadow:none;
	text-transform:none;
}
#contents .storycontent kbd{
	color:#333;
	background:#eee;
	border-bottom:2px solid #ccc;
	border-right:1px solid #ddd;
	border-top:1px solid #F5F5F5;
	display:inline-block;
	margin:.5em;
	padding:.5em;
	text-shadow:1px 1px 0 #fff;
	text-transform:capitalize;
	vertical-align:middle;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}

#contents .storycontent ruby rt{
	font-size:81.8%;
}

#contents .storycontent ruby rt:before{
	content:"\0028";
}

#contents .storycontent ruby rt:after{
	content:"\0029";
}

#contents .storycontent blockquote{
	background:#e0e0e0;
	font-size:118.2%;
	margin:.5em 0;
	padding:.5em;
	position:relative;
	text-shadow:1px 1px 0 #fff;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
#contents .storycontent blockquote p {
	margin:.5em 1.5em;
}
#contents .storycontent blockquote > p:first-child:before{
	content:"\201C";
	display:block;
	font-size:200%;
	left:6px;
	line-height:11px;
	position:absolute;
	text-shadow:1px 1px 0 #fff;
	top:11px;
}
#contents .storycontent blockquote > p:last-child:after {
	content:"\201D";
	botom:11px;
	display:block;
	font-size:200%;
	line-height:11px;
	position:absolute;
	right:6px;
	text-shadow:1px 1px 0 #fff;
}
#contents .storycontent q{
	font-style:italic;
}

#contents .storycontent q:before{
	content:"\201C";
}
#contents .storycontent q:after{
	content:"\201D";
}

#contents .storycontent img.alignleft{
	float:left;
	margin:10px 15px 10px 0;
}
#contents .storycontent img.alignright{
	float:right;
	margin:10px 0 15px 10px;
}

#contents .storycontent img.aligncenter{
	display:block;
	margin:0 auto 15px;
}

#contents .storycontent:after{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

#contents .storycontent{
	min-height:1px;
}

* html #contents .storycontent{
	height:1px;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}


/*
---------------------------------------
comment
---------------------------------------
*/

p.comments-head{
	border-bottom:solid 1px #ccc;
	margin:0 0 20px 0;
	padding:0 0 5px 0;
}

.commentlist .comment{
	background:#f2f2f2;
	padding:10px 10px 5px;
	margin:0 0 10px 0;
}

.commentlist .comment p{
	margin:0 0 5px 0;
}

form#commentform{
	margin:0 0 20px 0;
}

form#commentform p{	
	margin:0 0 5px 0;
}

form#commentform p textarea#comment{
	width:100%;
}
