@charset "utf-8";
/* CSS Document */

.login h1 {
text-align:center;
}
.login h1 a {

background-size: auto;
background-repeat: no-repeat;
height: 100px;
width: 300px;
background-size:300px 300px;
margin-top: 0;
margin-right: auto;
margin-bottom: 0;
margin-left: auto;
}