@charset "utf-8";
/*
Theme Name: 成功大家３％クラブ
Description: 成功大家３％クラブ専用wordpressオリジナルテンプレート
Version: 1.0
Author: qd
*/
/*reset
---------------------------------------*/
* {
margin: 0;
padding: 0;
} 
a:link { color: #9C1312; }
a:visited { color: #601500; }
a:hover {
color: #007CEC;
}
a:active {
color: #770000;
}
a img {
text-decoration: none;
border: none;
}
img{
vertical-align:bottom;
max-width:100%;
height:auto;
}
li, ul, ol {
list-style-type: none;
padding: 0px;
text-indent: 0;
margin: 0px;
}
a img {
text-decoration: none;
border: none;
}
.img_mid {
vertical-align:middle;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
margin:0;
padding:0;
}
table {
width:100%;
font-size: 100%;
border-collapse: collapse;
border-spacing: 0;
}
.none {
display: none;
}
.clear {
clear: both;
}
.clearfix {
display: block;
height: 0;
font-size:0;
clear: both;
visibility:hidden;
}
caption, th, td {
font-weight: normal;
text-align: left;
}
.small {
font-size:0.8em;
line-height:1.2em;
}
/*basic style
---------------------------------------*/
.flol {
float: left;
}
.flor {
float:right;
}
.txr {
text-align:right;
}
.txl {
text-align:left;
}
.txc {
text-align:center;
}
.nomar {
margin:0 !important
}
.bold {
font-weight: bold;
}
underline {
text-decoration:underline;
}
.hidden {
overflow:hidden;
}
.m60 {
padding-bottom:60px;
}
h1,h2,h3,h4,h5,h6 {
clear: both;
}
.pb150 {
padding-bottom:150px;
}
.pt150 {
padding-top:0;
}
#top_network {
padding-bottom:90px;
}
.mb2em{
margin-bottom:2em;
}
.a_display {
display:block;
width:100%;
height:100%;
}
.ssmall {
margin-top: 10px;
font-size: 0.5em;
line-height: 1.1em;
color:#521212;
}
/*body
---------------------------------------*/
body {
text-align: center;
font-size: 16px;
line-height: 1.5em;
font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 'モリサワ 新ゴ R', "Shin Go Regular", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
color:#2f2f2f;
/*color:#fff;*/
}
#header {
/*background-color: #FFF;*/
max-width: 1000px;
margin-right: auto;
margin-left: auto;
text-align: left;
}

#header h1 {
font-size: 11px;
line-height: 1.4em;
font-weight: normal;
padding-top: 3px;
padding-bottom: 3px;
margin-top: 20px;
margin-bottom: 20px;
margin-left: 10px;
}
.container {
max-width: 1000px;
padding-bottom: 10px;
text-align: left;
margin-right: auto;
margin-left: auto;
/*background-color: #FFF;*/
}
.container.www {
background-color: #FFF;
  padding: 0 20px 20px 20px;
  width: 960px;
}
.container.www.w1 {
border-radius:0 0 3px 3px;
}
a.red_btn {
margin:1em auto;
display:block;
max-width:280px;
width:50%;
padding:10px 0;
border-radius:5px;
text-align:center;
font-weight:600;
text-decoration:none;
color:white !important;
box-shadow:0 3px 4px rgba(0,0,0,0.2);
background-image: url(img/red_btn.png);
background-repeat: repeat;
}
a.red_btn:hover {
position:relative;
top:2px;
box-shadow:none;
background-color:#1C0001;
background-image:none;
}
.grade {
background-image: url(img/grade.png);
background-repeat: repeat-x;
padding-top: 30px;
height: 520px;
box-shadow:0 0 10px rgba(0,0,0,0.5);
}
#footer {

}
/*opt page
---------------------------------------*/
#head_img {
margin-top: 40px;
margin-right: auto;
margin-bottom: 40px;
margin-left: auto;
}
#pro_members {
width: 1000px;
margin: 0 auto;
text-align:left;
}
#pro_members.www {
background-color:#fff;
padding:20px;
width:960px;
}
.pro_detail {
overflow:hidden;
margin-bottom:20px;
padding-bottom:20px;
border-bottom:1px solid #ddd;
}
.pro_detail.www {
border:none;
margin-bottom:0;
}
.pro_detail.noborder{
border-bottom:none;
}
.pro_detail .left {
float:left;
width:27%;
}
.pro_detail .right{
float:right;
width:71%;
padding-top: 42px;
}
.simple_list {
margin-bottom:1em;
}
.simple_list li {
list-style: disc;
padding-left: 14px;
list-style-position: inside;
}
#pro_members h3{
background-color: #5FC0E9;
padding: 7px 10px 5px 10px;
margin-bottom: 10px;
color: #fff;
line-height: 1.3em;
margin-top:15px;
}
#pro_members h3:first-child{
margin-top:0;
}
.pbr_box {
  width: 86%;
  margin: 0 auto;
}
.pro_title {
  background-image: url(img/obi.png);
  background-repeat: repeat-x;
  background-position: center top;
  background-color: #BA9149;
  height: 43px;
  padding-top: 30px;
  overflow: hidden;
}
.professional {
background-color: #fdefcc;
text-align: center;
padding-bottom: 30px;
margin-top: 40px;
margin-bottom: 20px;
}
.professional .photos { padding-top:30px; }
#gaiyou {
padding-top:20px;
}
.gaiyou.right {
float:right;
width:250px;
}
.pbr_box p,
.pbr {
margin-bottom:1em;
}
.pbr_box .fs2,
.fs2 {
  font-size: 2em;
  line-height: 1.4em;
  margin: 1em 0;
}
.gaiyou.left{
  padding-top: 120px;
  margin-bottom: 150px;
  width: 55%;
  padding-left: 7%;
}
#profile {
padding-top:0;
}
.profile .right {
padding-top: 120px;
  margin-bottom: 150px;
  width: 55%;
  padding-right: 7%;
}
.profile .right h3{
margin-bottom:2em;
}
.profile .left{
padding-top:90px;
width:300px;
text-align:right;
}
#kougi {
padding-top:100px;
padding-bottom:0;
}
#kougi .left {
padding-top:30px;
  width: 55%;
  padding-left: 7%;
}
#kougi .right {
width:300px;
}
#kougi dt{
font-weight:bold;
font-size:1.1em;
line-height:1.5em;
margin-bottom:5px;
}
#kougi dd{
margin-bottom: 2em;
font-size: 0.9em;
line-height: 1.4em;
}
#curriculum {
padding-top:110px;
padding-bottom:150px;
width:700px;
margin:0 auto;
}
#curriculum h4 {
font-size: 1.2em;
margin-bottom: 0.5em;
}
.sarani {
  padding: 90px 0 0 0;
  text-align: center;
  clear: both;
  font-size: 2.5em;
  line-height: 1em;
}
#curriculum .sec {
padding-top: 2em;
width:50%;
float:left;
}
#curriculum .sec2 {
padding-top: 3.5em;
}
#curriculum ul {
padding-left: 30px;
}
#kougi .left ol,
#curriculum ol  {
padding-top:50px;
margin-bottom: 19px;
}
#kougi .left li,
#curriculum ol li {
  font-size: 1.25em;
  line-height: 1.2em;
  margin-bottom: 15px;
  border-bottom: dotted 2px #959595;
  list-style-type: decimal;
  padding-bottom: 15px;
  margin-left: 1em;
}
#handbook {
overflow:hidden;
padding-top: 55px;
}
#handbook .left {
width:200px;
}
#handbook .right {
width:500px;
}
#handbook .right ol {
padding-top: 15px;
}
#handbook h4 {
  font-size: 1.6em;
  line-height: 1.2em;
  margin-bottom: 0;
}
#handbook .right ol li{
font-size: 0.8em;
color: #444;
line-height: 1.4em;
margin-bottom: 8px;
padding-bottom: 8px;
}
#formlink {
padding-top:150px;
}
#formlink.kaihibar {
background-color: #fff;
margin-top: 150px;
text-align: center;
padding: 15px 0;
  width: 970px;
border: 4px solid #0b7fcb;
}
#voices {
padding-bottom:90px;
overflow:hidden;
}
#voices li {
float: left;
width: 50%;
}
#voices ul {
overflow: hidden;
}
#voices li dt {
font-weight: bold;
line-height: 1.1em;
margin-bottom: 10px;
}
#voices li dl {
border: 1px solid #aaa;
padding: 15px;
margin: 15px;
border-radius: 10px;
}
#voices li dd {
font-size: 0.9em;
line-height: 1.5em;
}
#members {
padding-bottom:90px;
padding-top:90px;
background-color:#fff;
}
#members .box {
width:860px;
margin:0 auto;
text-align: left;
}
.head{
/*background-image: url(img/bill.png);
background-repeat: no-repeat;
height: 104px;
width: 1000px;
margin-right: auto;
margin-left: auto;*/
}
.pt100 {
padding-top:100px !important;
}
.pt90 {
padding-top:90px !important;
}
.pt60 {
padding-top:60px !important;
}
.mb30 {
margin-bottom: 30px;
}
.white {
color:#fff !important;
}
.water {
color:#5FC0E9;
}
#members h3{
margin-bottom:3em;
}
/************/
.top_catch01 {
background-image: url(img/top_catch01.png);
background-repeat: no-repeat;
background-position: center top;
width: 100%;
height: 374px;
position: absolute;
top: 513px;
}
.opt_content {
width:900px;
margin:0 auto; 
}
#top_margin {
height:115px;
}
.box_69 {
width:690px;
margin:1em auto;
}
.box_70 {
width:700px;
margin:1em auto;
}
.box_78 {
width:780px;
margin:1em auto;
}
.box_10 {
width:1000px;
margin:1em auto;
}
ol.nayamilist li {
  list-style-type: decimal;
  list-style-position: inside;
  margin-bottom: 11px;
  margin-left: 10%;
  font-size: 1.2em;
  line-height: 1.4em;
  margin-right: 10%;
  border-bottom: dotted 1px#E1E1E1;
  padding-bottom: 9px;
}

ol.nayamilist {
margin-bottom: 2em;
margin-top: 2em;
}
h4.nayamititle {
  font-weight: normal;
  text-align: center;
  font-size: 36px;
  line-height: 1.2em;
  color: #BA9149;
  margin-bottom: 1.2em;
}
/*----------------------
　　フォーム装飾
----------------------*/
#formbox {
  clear: both;
  width: 960px;
  margin: 120px auto;
  padding: 30px 15px;
  box-shadow: inset 0 0 15px rgba(0,0,0,0.3);
  background-color: #FFF;
  border: 5px solid #0B7FCB;
}
#formbox h4 {
margin-bottom:2em;
}
#top_form {
width:640px;
margin:15px auto;
}
#top_form dt {
margin: 0 0 9px 0;
padding: 12px 20px 0px 5px;
width: 180px;
float: left;
clear: both;
text-align: right;
font-weight: bold;
}
#top_form dd {
margin: 0 0 9px;
padding: 11px 5px 0px 5px;
width: 390px;
float: left;
text-align: left;
}
input[type="text"],input[type="password"],input[type="email"] {
padding:3px;
height: 24px;
border: 1px solid #999;
font-size: 18px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: inset 0px 0px 5px #666;
-moz-box-shadow: inset 0px 0px 5px #666;
box-shadow: inset 1px 1px 2px #CCC;
}
input[type="radio"],[type="checkbox"] {
margin: 0 5px 0 0;
width: 17px;
height: 35px;
border: 0 none;
vertical-align: middle;
}
select {
padding:5px;
border: 1px solid #999;
font-size: 18px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: inset 0px 0px 5px #666;
-moz-box-shadow: inset 0px 0px 5px #666;
box-shadow: inset 1px 1px 2px #CCC;
}
input[type="submit"]{
padding:10px 50px;font-size:15px;font-weight:bold;
margin:3px auto;
min-width:280px;
display: block;
}
#top_form input[type="submit"] {
cursor: pointer;
color:#FFF;
font-size:16px;
font-weight:bold;
text-align:center;
background-image: url(img/touroku.png);
height: 60px;
width: 410px;
margin-right: auto;
margin-left: auto;
margin-top: 15px;
margin-bottom: 0px;
background-repeat: no-repeat;
background-position: center center;
background-color: #ff6b6b;
border:none;
padding-top: 0px;
display:block;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
text-indent: -9999px;
}
#top_form input[type="submit"]:hover { opacity:0.7; cursor:pointer;
position:relative;
top:2px;
}
input[type="button"] {
padding:10px 50px;
background: #333;
border:0;
color:#FFF;
font-size:16px;
font-weight:bold;
text-align:center;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
input[type="button"]:hover { opacity:0.7; cursor:pointer; }
/*----------------------
　　テーブル
----------------------*/
dl,dt,dd {
margin: 0;
padding: 0;
}
.cont-box dl {
margin: 0 0 10px 20px;
zoom: 1; 
}
.cont-box dl.pub_form dt {
margin: 0 0 9px 0;
padding: 17px 20px 5px 5px;
width:200px;
float:left;
clear:both;
text-align:right;
font-weight:bold;
}
.cont-box dl.pub_form dt.myou {
padding-right: 40px;
width: 180px;
}
.cont-box dl.pub_form > dd {
margin: 0 0 9px;
padding: 11px 5px 0px;
width:390px;
float:left;
text-align:left; 
}
.cont-box dl.pub_form > dd input{
font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 'モリサワ 新ゴ R', "Shin Go Regular", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.center {
clear:both;
padding-top:10px;

}
/*blog
---------------------------------------*/
.blog_container {
overflow:hidden;
width:1000px;
margin: 0 auto;
padding:0;
text-align:left;
font-size:0.86em;
}
.blog_content {
float:left;
width:670px;
box-shadow:0 2px 4px rgba(0,0,0,0.2);
margin:20px 0;
background-color:white;
padding:20px;
border-radius:5px;
}
#blog_list {
padding-bottom:30px;
float:left;
width:710px;
}
#blog_list .ex{
font-size:0.8em;
line-height:1.2em;
}
#blog_list.ar {
padding-top:15px;
}
#blog_list .blog_title {
padding:0px;
font-size: 1.2em;
line-height: 1.1em;
}
#blog_list .list li {
opacity:0.95;
float:left;
width:27%;
margin:1%;
padding:2%;
background-color:white;
border-radius:5px;
box-shadow:0 2px 4px rgba(0,0,0,0.2);
}
#blog_list .blog_content {
float:none;
}
a.blog_archives_link {
display:block;
background-color:white;
text-align:center;
font-size:0.95em;
font-weight:bold;
text-decoration:none;
padding:5px 12px;
margin:20px auto;
color:#1b1b1b;
width:250px;
border-radius:5px;
box-shadow:0 2px 4px rgba(0,0,0,0.2);
}
a.blog_archives_link:hover {
background-color:#1b1b1b;
color:white;
}
.blog_aside {
margin:20px 0;
padding:20px;
float:right;
width:220px;
background-color:white;
border-radius:5px;
font-size:0.75em;
box-shadow:0 2px 4px rgba(0,0,0,0.2);
}
.blog_aside .fb-like-box.fb_iframe_widget {
min-height:110px;
}
.blog_title {
padding:5px;
border-bottom:#000 2px solid;
margin-bottom:0;
font-size:1.5em;
line-height:1.3em;
}
time {
display:block;
text-align:right;
font-weight:bold;
}
.blog_title a{
text-decoration:none;
color:black;
}
/*aside
---------------------------------------*/
#aside {
}
.widgettitle {
border-bottom:dotted 1px #000;
font-size:1.3em;
}
.blog_aside ul{
padding-bottom:30px;
}
#wp_sidebar li li{
line-height:1.8em;
margin-top:10px;
padding-left:15px;
background-image: url(img/list_mark.png);
background-repeat: no-repeat;
background-position: 0px 5px;
}
#footer {
text-align:center;
font-size:0.7em;
padding-top:150px;
padding-bottom:80px;
}
#copyright {
color:#fff;
}
#footer a{
text-decoration:none;
color:#fff;
}
#footer .footer_link {
font-size:1.1em;
margin-bottom:20px;
}
#footer #pagetop {
right: 10px;
position: fixed;
bottom: 60px;
}
#footer #pagetop a {
background-image: url(img/pagetop.png);
display: block;
height: 52px;
width: 52px;
}
/*archive
---------------------------------------*/
.archive_post {
padding-bottom: 20px;
padding-top: 15px;
}
.archive_post ul {
}
.archive_post li {
margin-bottom:20px;
padding-bottom:20px;
border-bottom:dotted 1px #ddd;
overflow:hidden;
}
.archive_post li dt{
font-weight: bold;
font-size: 1.3em;
line-height: 1.3em;
margin-bottom: 5px;
}
.archive_post li dd{
font-size:0.9em;
line-height:1.1em;
color:#666;
}
/*searchform sou
---------------------------------------*/
#searchform {
clear:both;
float: right;
padding-right: 10px;
padding-bottom: 10px;
padding-top:10px;
}
#searchform input[type="text"],
#searchform input[type="email"] {
padding:5px; 
border-radius:4px;
border:#999 solid 1px;
}
#searchform input[type="submit"] {
padding:5px 10px;
border-radius:4px;
border:#999 solid 1px;
}
/*contact sou
---------------------------------------*/
.wpcf7-form input {
padding:4px;
border-radius:4px;
border:#999 solid 1px;
margin-bottom:5px;
}
.wpcf7-form input[type="text"],
.wpcf7-form textarea {
font-size: 18px;
}
.wpcf7-form input[type="checkbox"] {
border-radius:4px;
margin-left:10px;
}
.wpcf7-form input[type="submit"] {
padding:8px 25px;
box-shadow:0 1px 3px rgba(0,0,0,0.3);
-moz-box-shadow:0 1px 3px rgba(0,0,0,0.3);
-o-box-shadow:0 1px 3px rgba(0,0,0,0.3);
-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.3);
background: -moz-linear-gradient(top,  rgba(63,63,63,0) 0%, rgba(160,160,160,0.65) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,63,63,0)), color-stop(100%,rgba(160,160,160,0.65)));
background: -webkit-linear-gradient(top,  rgba(63,63,63,0) 0%,rgba(160,160,160,0.65) 100%);
background: -o-linear-gradient(top,  rgba(63,63,63,0) 0%,rgba(160,160,160,0.65) 100%);
background: -ms-linear-gradient(top,  rgba(63,63,63,0) 0%,rgba(160,160,160,0.65) 100%);
background: linear-gradient(to bottom,  rgba(63,63,63,0) 0%,rgba(160,160,160,0.65) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003f3f3f', endColorstr='#a6a0a0a0',GradientType=0 );
}
.wpcf7-form input[type="submit"]:hover {
box-shadow:none;
-moz-box-shadow:none;
-o-box-shadow:none;
-webkit-box-shadow:none;
color:white;
background-color:#aaa;
}
.wpcf7-form textarea {
border-radius:4px;
border:#999 solid 1px;
width:70%;
}
.hissu {
color:#DA4525;
font-size:0.8em;
font-weight:bold;
}

/*---------------------------------------
wp-pagenavi setting
---------------------------------------*/
.pagelink {
text-align: center;
margin-bottom: 20px;
padding-top: 15px;
clear: both;
margin-top: 15px;
padding-left:10px;
padding-right:10px;
}
.wp-pagenavi {
clear: both;
padding-top:10px;
padding-left:10px;
margin-top: 10px;
font-size: 1.2em;
}
.wp-pagenavi a, .wp-pagenavi span {
text-decoration: none;
padding: 3px 10px;
margin: 2px;
border:#666 solid 1px;
}
.wp-pagenavi a:hover, .wp-pagenavi span.current {
}
.wp-pagenavi span.current {
font-weight: bold;
border:none;
color: #999;
}
#page_link {
overflow:hidden;
margin:0 auto;
width:95%;
}
.previous {
clear:both;
float:left;
}
.next {
background-image: url(img/reading.png);
height: 272px;
width: 620px;
margin-right: auto;
margin-left: auto;
margin-top: 70px;
margin-bottom: 0;
}
.present {
padding-top: 50px;
width:950px;
margin:0 auto;
padding-bottom: 0px;
}
.present .next{
margin-bottom:60px;
}
.red {
color: #cf0000;
font-size: 1.04em;
line-height: 1.5em;
}
.small.red {
font-size:0.8em;
}
.font_b {
font-size: 1.3em;
line-height: 2em;
width:790px;
margin:0 auto;
}
.font_s {
font-size: 1.3em;
line-height: 2em;
width:790px;
margin:0 auto;
}
.copy{
clear:both;
padding-top:10px;
font-size:0.8em;
text-align:center;
}
/*---------------------------------------
image position
---------------------------------------*/
.aligncenter {
margin-right: auto;
margin-left: auto;
display: block;
}
.alignleft {
float: left;
margin-right: 10px;
margin-bottom: 10px;
}
.alignright {
float: right;
margin-bottom: 10px;
margin-left: 10px;
}
/*page link
---------------------------------------*/
.singlepostlink {
padding-top:20px;
font-size:0.9em;
}
span.oldpage {
float: right;
}
span.newpage {
float: left;
}
/*social
---------------------------------------*/
.top_social {
width:580px;
margin:0 auto;
margin-bottom:30px;
}
#page_navi {
position:fixed;
top:30%;
right:5px;
}
#page_navi li a{
background-image: url(img/page_navi.png);
background-repeat: no-repeat;
display: block;
height: 52px;
width: 52px;
margin-bottom: 5px;
}
#page_navi li a:hover{
opacity:0.6;
}
#pn01 a{
background-position:0 0;
}
#pn02 a{
background-position:0 -60px;
}
#pn03 a{
background-position:0 -119px;
}
#pn04 a{
background-position:0 -178px;
}
#pn05 a{
background-position:0 -239px;
}
#pn06 a{
background-position:0 -303px;
}
#pn07 a{
background-position:0 -369px;
}
#footer_soical,
#social {
padding-right:10px;
padding-left:10px;
display:block;
padding-right:3px;
padding-top:5px;
}
#footer_soical li,
#social li {
float:left;
margin-top:5px;
margin-left:5px;
}
/*pankuzu
---------------------------------------*/
#pankuzu {
float:right;
padding-right:10px;
padding-top:5px;
font-size:0.9em;
}
#pankuzu {
text-decoration:none;
}
/*blog post
---------------------------------------*/
.content_post {
height: 100%;
clear: both;
padding-bottom: 50px;
padding-top: 50px;
text-align: left;
}
.content_post div,
.content_post p {
margin-bottom: 1em;
line-height: 1.4em;
}
.content_post a {
}
.simple_list li,
.content_post ul li {
list-style-type: disc;
margin-left: 20px;
margin-bottom: 6px;
}
.content_post ul.check_list li {
background-image: url(img/check_s.png);
background-repeat: no-repeat;
background-position: 20px 3px;
padding-left: 50px;
line-height: 1.8em;
font-weight: 600;
}
.content_post #social ul li {
background-image:none;
list-style: none;
padding:0;
margin:0 5px;
font-weight:normal;
line-height:1.5em;
}
.content_post ol li {
margin-left: 20px;
margin-bottom:6px;
text-indent: 5px;
list-style-type: decimal;
}
.content_post ul {
margin-bottom:0.8em
}
.left,
.content_post .left {
float:left;
}
.right,
.content_post .right {
float:right;
}
.content_post h1 {
display:block;
font-size:2em;
font-weight:bold;
margin-top: 0.67em;
margin-right: 0;
margin-bottom: 0.67em;
margin-left: 0;
line-height: 1.1em;
padding-top: 0.5em;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}
.content_post h2 {
display:block;
margin-top: 1em;
margin-right: 0;
margin-bottom: 0.2em;
margin-left: 0;
padding-top: 3px;
padding-right: 0px;
padding-bottom: 3px;
padding-left: 10px;
clear: both;
border-left-width: 8px;
border-left-style: solid;
border-left-color: #000;
font-size: 2em;
line-height: 1em;
}
.content_post h3 {
display:block;
font-size:1.3em;
font-weight:bold;
margin-top: 1em;
margin-right: 0px;
margin-bottom: 0.2em;
margin-left: 0px;
padding-top: 3px;
padding-right: 0px;
padding-bottom: 3px;
clear: both;
border-bottom-width: 1px;
border-bottom-style: dotted;
border-bottom-color: #000;
}
.content_post h3:first-child {
margin-top:0;
padding-top:0;
}
.opt_content h3 {
background-image: url(img/obi_brown.png);
background-repeat: no-repeat;
height: 126px;
width: 976px;
text-align: center;
padding-top: 18px;
padding-right: 40px;
padding-left: 40px;
position: relative;
left: -76px;
color: #FFF;
font-size: 1.65em;
font-weight: normal;
line-height:1.1em;
border:none;
}
.content_post h4 {
display:block;
font-size:1em;
margin-top: 1.33em;
margin-right: 0;
margin-bottom: 0em;
margin-left: 0;
clear: both;
padding-top: 5px;
padding-right: 0px;
padding-bottom: 5px;
padding-left: 5px;
color: #FFF;
background-color: #000;
}
.content_post h5 {
display:block;
font-size:1em;
font-weight:bold;
border-left-width: 15px;
border-left-style: solid;
border-left-color: #000;
margin-top: 1em;
margin-right: 0;
margin-bottom: 0.2em;
margin-left: 0;
padding-left: 5px;
}
.content_post img {
max-width:100%;
height:auto;
}
.content_post h6 {
display:block;
font-size:1em;
font-weight:bold;
margin-top: 1em;
margin-right: 0;
margin-bottom: 0.5em;
margin-left: 0;
padding-top: 3px;
padding-bottom: 3px;
border-bottom-width: 3px;
border-bottom-style: double;
border-bottom-color: #000;
}
.content_post h2:first-child,
.content_post h1:first-child {
margin-top: 0em;
padding-top: 0em;
}
.content_post .nolistmark li {
list-style-type: none;
}
.content_post blockquote {
margin:0.8em;
}
.content_post table {
margin-bottom: 0;
margin-top: 10px;
margin-bottom: 10px;
width: 100%;
}
.content_post table caption {
text-align:left;
font-weight:bold;
}
.content_post table th, .content_post table td {
padding: 6px;
border-bottom:1px solid #aaa;
}
.content_post table th {
width:30%;
}
.content_post table th.caption {
width:100%;
text-align:center;
background-color:#eee;
border:1px solid #aaa;
}
blockquote:before, blockquote:after, q:before, q:after {
content: " ";
}
blockquote, q {
quotes: "" "";
padding-top: 15px;
padding-right: 5px;
padding-bottom: 0px;
padding-left: 5px;
}
/**/
.content_post .dl_table dt {
float:left;
width:180px;
padding:6px;
clear:both;
}
.content_post .dl_table dd {
float:none;
padding:6px;
padding-left:180px;
border-bottom:solid 1px #eee;
}
/*sitemap
---------------------------------------*/
#sitemap {
padding:10px 10px;
}
#sitemap li li {
border-left-width: 1px;
border-left-style: solid;
border-left-color: #666;
background-image: url(img/li.gif);
background-repeat: no-repeat;
padding-left: 20px;
background-position: left center;
}
#sitemap li {
padding-top: 3px;
padding-bottom: 3px;
}
.mp3_tokuten_in{
width:70%;
font-size:0.85em;
text-align:left;
padding:1em;
}
/*page
---------------------------------------*/
.page_title {
padding:10px 0;
color:white;
line-height:1.3em;
max-width:1000px;
width:100%;
margin:20px auto 10px auto;
text-align:left;
}
.page_title_box {
background-color:#BA9149;
}
#page_head {
text-align:left;
max-width:1000px;
margin:0 auto;
}
.single time{
text-align:right;
}
.post-categories li{
float:right;
}
.post-categories li a {
display: block;
margin: 2px;
padding: 5px 13px;
font-size: 1em;
text-align: center;
border-radius: 15px;
background-color: #999;
color: #fff;
line-height: 1.3em;
text-decoration: none;
font-size:0.8em;
box-shadow:0 1px 2px rgba(0,0,0,0.3)
}
.page_title {
font-size: 2em;
line-height: 1.2em;
padding: 15px 0;
margin: 0px auto;
font-weight: normal;
}
/*end
---------------------------------------*/
/*! fancyBox v2.1.4 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp{padding:0;margin:0;border:0;outline:none;vertical-align:top;}.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020;}.fancybox-skin{position:relative;background:#f9f9f9;color:#444;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}.fancybox-opened{z-index:8030;}.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0,0,0,0.5);-moz-box-shadow:0 10px 25px rgba(0,0,0,0.5);box-shadow:0 10px 25px rgba(0,0,0,0.5);}.fancybox-outer,.fancybox-inner{position:relative;}.fancybox-inner{overflow:hidden;}.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch;}.fancybox-error{color:#444;margin:0;padding:15px;white-space:nowrap;}.fancybox-image,.fancybox-iframe{display:block;width:100%;height:100%;}.fancybox-image{max-width:100%;max-height:100%;}#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span{background-image:url('img/fancybox_sprite.png');}#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:0.8;cursor:pointer;z-index:8060;}#fancybox-loading div{width:44px;height:44px;background:url('img/fancybox_loading.gif') center center no-repeat;}.fancybox-close{position:absolute;top:-18px;right:-18px;width:36px;height:36px;cursor:pointer;z-index:8040;}.fancybox-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;background:transparent url('img/blank.gif');-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:8040;}.fancybox-prev{left:0;}.fancybox-next{right:0;}.fancybox-nav span{position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;visibility:hidden;}.fancybox-prev span{left:10px;background-position:0 -36px;}.fancybox-next span{right:10px;background-position:0 -72px;}.fancybox-nav:hover span{visibility:visible;}.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible !important;}.fancybox-lock{overflow:hidden;}.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:url('img/fancybox_overlay.png');}.fancybox-overlay-fixed{position:fixed;bottom:0;right:0;}.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll;}.fancybox-title{visibility:hidden;position:relative;text-shadow:none;z-index:8050;}.fancybox-opened .fancybox-title{visibility:visible;}.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center;}.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;background:transparent;background:rgba(0,0,0,0.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:bold;line-height:24px;white-space:nowrap;}.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff;}.fancybox-title-inside-wrap{padding-top:10px;}.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#000;background:rgba(0,0,0,.8);}
